*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #000000;
  color: #fff;
}
html{
  scroll-behavior: smooth;
}
#header{
  width: 100%;
  height: 100vh;
  background-image: url(/portfolio/Screenshot\ 2025-10-28\ 140706.png);
  background-size:cover;
  background-position:center;
}
.img1{
  position: absolute;
}
.container{
 padding: 10px 10%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.s{
  color: red;
}
.dot{
  color: blue;
}
.name{
  color:rgba(215, 210, 199,0.6);
}
.logo{
  font-size: 6em;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  color: #fff;
  text-decoration: underline;
  font-size: 22px;
  position: relative;
}
nav ul li a::after{
  content: '';
  width: 0%;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom:-6px;
  transition: 0.6s;

}
nav ul li a:hover::after{
  width: 100%;
}
.header-text{
  margin-top: 20%;
  font-size: 32px;
}
.header-text h1{
  font-size: 60px;
  margin-top: 20px;
}
.header-text h1 span{
  color: #d80b4c;
}
/* --------------about me------------*/
#about{
  padding: 80px 0;
  color: #ababab;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 35%;
}
.about-col-1 img{
  width: 100%;
  border-radius: 15px;
}
.about-col-2{
  flex-basis: 60%;
}
.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}
.tab-links{
  margin-right: 50px;
  font-size:20px;
  font-weight: 550;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom:-8px;
  transition:0.47s;
}
.tab-links.active-link::after{
  width: 50%;
}
.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span{
  color: #9e3535;
  font-size:14px;
}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}
/* ---------services------- */
#services{
  padding: 30px 0;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap:40px;
  margin-top: 50px;
}
.services-list div{
  background-color: #232323;
  padding: 40px;
  font-size: 13px;
  font-weight:300;
  border-right: 10px;
  border-radius: 14px;
  transition: background 0.5s,transform 0.5s;
}
.services-list div i{
  font-size: 55px;
  margin-bottom: 33px;
}
.services-list div a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover{
  background-color: #f39704f5;
  transform: translateY(-10px);
}
/* ------------portfoilo---------- */
#portfolio{
  padding: 50px 0;

}
.work-list{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap:40px;
  margin-top:50px;
}
.work{
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: trandform 0.5s;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6),#f49404fe);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 16px;
  transition: height 0.5s;
}
.layer h3{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}
.layer p{
  line-height: 25px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.layer a{
  margin-top: 22px;
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 25%;
  text-align: center;
}
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
}
/* ---------contact-------- */
.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left p{
  margin-top: 15px;
  font-size: 20px;
}
.contact-left p i{
  color: #ff004f;
  margin: 15px;
  margin-left: 1px;
  font-size: 25px;
}
.social-icon{
  display: inline-block;
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-top: 15px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: orange;
  transform: translateY(-5px);
}
.cv{
  margin-top: 20px;
  margin-left: 5px;
  display: inline-block;
  text-decoration: none;
  background-color: #d80b4c00;
  color:  white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 3px;
  transition: transform 0.5s;
}
.cv:hover{
  background-color: rgb(255, 51, 0);
  transform: translateY(-2px);
}
.contact-right form{
  width: 100%;
}
.contact-right form textarea{
  width:100%;
 
}
form input , form textarea{
  width: 100%;
  border: 0;
  outline: none;
  padding: 15px;
  background: #232323;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 8px ;
}
form .submit{
  padding: 12px 18px;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;

}
.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #232323;
  font-weight: 400;
  margin-top:25px ;
}
/* ------small screen------ */
nav .fas{
  display: none;
}
@media only screen and (max-width: 600px){
  #header{
    background-image: url(/portfolio/small\ screen\ image.png);
  }
  .header-text{
    margin-top:100%;
    font-size: 16px;

  } 
   .header-text h1{
    font-size: 30px;
  }
  nav .fas{
    display: block;
    font-size: 24px;
  }
  nav ul{
    background: #d80b4c;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top:50px ;
    z-index: 2;
    transition: right 0,5s;

  }
  nav ul li{
    display: block;
    margin: 24px;
  }
  nav ul .fas{
    position: absolute;
    top: 24px;
    left: 24px;
    cursor: pointer;
  }

}
#msg{
  color: #61b752;
  margin-top: 30px;
  display: block;
}